<footer>
	<div class="container">
		<div class="cln-right">
			<a href="http://mfglabs.com/" target="_blank" title="Go to MFG Labs website">
				<div class="logo"></div>
			</a>
			
			<div class="social_btn">
				<a class="social_fb" href="https://www.facebook.com/MFGLabs?fref=ts" target="_blank" alt="follow us on facebook"></a
				><a class="social_dribbble" href="https://dribbble.com/search?q=mfg+labs" target="_blank" alt="follow us on dribbble"></a
				><a class="social_twitter" href="https://twitter.com/mfg_labs" target="_blank" alt="follow us on twitter"></a
				><a class="social_mail" href="mailto:contact@mfglabs.com?subject=...Some Feedback" target="_blank" alt="send us and e-mail"></li>
			</div>
			
			<p>© 2015 MFGLabs - All rights reserved - Legals</p>
		</div>
	</div>
	<div class="clear"></div>
</footer>